<% if can? :manage, Category %>
	<div class="admin-actions pull-right">
		<%= link_to 'New Post', new_post_path(:category_id => @category.id), :class => "btn btn-primary" %>
		<%= link_to 'Edit Category', edit_category_path(@category), :class => "btn" %>
		<%= link_to 'Delete Category', @category, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
	</div>
<% end %>

<div class="row">
	<div class="span6 offset1">
	 	<h1><%= @category.title %></h1>
	</div>
</div>
<div class="row">
	<div class="span8 offset1">
		<p>
			<%= markdown @category.description %>
		</p>
	</div>
</div>

<%= render @category.posts.reverse %>

<%= link_to 'Back', categories_path, :class => "btn" %>
